body
{
    background-color: aliceblue;
    font-family: "Roboto";
}
table {
    text-align: center;    
    border-collapse: collapse;
    width:180px;
    height:250px;   
    background-image: url("images/nature.jpg");  
    background-size: cover;
    background-color:lavenderblush;
    background-blend-mode:soft-light;
 } 
 th, td {
    border: 1px solid brown;    
    color:rgb(219, 52, 58);
    font-style:bold;
 } 
 th
 {text-align: end;}
 td:hover {
    background-color: lightcoral;
    color: white;
 }
 h3{
    color:rgb(47, 57, 255);
 }